/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 1024px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}

header {
  height: 30px;
}

footer {
    background-color: whitesmoke;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow:hidden;
    padding-top: 10px;
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }


/* from chart */
#chartie {
  //height: 500px;
  min-width: 310px;
  max-width: 1000px;
  margin: 50px;
}

.centered {
  text-align: center;
}

.flex-container {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 200px;
  justify-content: space-around;
}

.flex-item {
  background: #00aa8e;
  padding: 10px;
  border-style: solid;
  border-color: tan;
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 0em;
  text-align: center;
}

.colorSquare {
  flex: 0 0 50%;
  height: 50%;
  text-align: center;
}

.colorButton {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 2vmax;
}

.colorButton:hover {
    z-index: 999;
    overflow: hidden;
	cursor: pointer;
	-webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
	-webkit-box-shadow: 5px 5px 50px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 5px 5px 50px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 5px 5px 50px 5px rgba(0, 0, 0, 0.2);
}

//dark gray as the full style of the page would be cool. no white background.
#plot {
    display: flex;
    justify-content: center;
}